<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>

    {% load static %}
    <link rel="shortcut icon" href="{% static "gaari/favicon.png" %}" type="image/x-icon">
</head>
<body>
    <h1>Delete Vehicle</h1>

    <p>Are you sure you want to delete the vehicle: {{ auto }}?</p>
    
    <form action="" method="POST">
      {% csrf_token %}
      <input type="submit" value="Yes, delete.">
      <input type="submit" onclick="window.location='{% url 'gaari:home' %}' ; return false;" value="Cancel">
    </form>
    
</body>
</html>